<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALLINQ.Properties.Settings.SporOConnectionString"
            connectionString="Data Source=10.10.22.199;Initial Catalog=SporO;User ID=test2;Password=test2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="KayitTipi" value="Linq"/>
  </appSettings>
</configuration>